<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>2_JSP_TransmissionDonnee</display-name>
  <servlet>
    <servlet-name>WithAttributesServlet</servlet-name>
    <servlet-class>com.demo.controller.ServletWithAttributes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WithParametersServlet</servlet-name>
    <servlet-class>com.demo.controller.WithParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithAttributesServlet</servlet-name>
    <url-pattern>/avecAttributs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WithParametersServlet</servlet-name>
    <url-pattern>/avecParametres</url-pattern>
  </servlet-mapping>
</web-app>